.news {
  width: 263px;
  height: 493px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
  .news .title {
    width: 263px;
    height: 55px; }
    .news .title p {
      font-family: "Academy cond", arial;
      font-weight: 600;
      font-size: 20px;
      text-transform: uppercase;
      position: absolute;
      margin-top: 25px; }
  .news .under_title {
    width: 263px;
    height: 445px;
    border: 1px solid #ccc; }
