.form {
  float: left;
  width: 382px;
  height: 190px;
  margin-top: 15px; }
  .form input {
    background-image: url("../../../images/search.png");
    background-repeat: no-repeat;
    background-position-x: 250px;
    background-position-y: 5px;
    font-family: "Open Sans", sans-serif;
    padding-left: 10px;
    padding-right: 40px;
    margin-top: 65px;
    width: 232px;
    height: 30px;
    border: 1px solid #c29845; }
